<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="src" parallel="classes">
  <test name="Aident.TestScripts" preserve-order="true">
    <classes>
      <class name="Aident.TestScripts.Login"></class>
      <class name="Aident.TestScripts.AddPatient"></class>
      <class name="Aident.TestScripts.EditPatient"></class>
       <class name="Aident.TestScripts.SearchPatient"></class>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
